<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<style>
			body {
				background-color: black;
			}

			.app-container {
				margin-top: 2em;
			}
		</style>
		<title> <%= title %> </title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-light bg-light justify-content-between">
				<a class="navbar-brand" href="#">
					<img src="https://www.teralab-datascience.fr/wp-content/uploads/2019/05/teralab-marine-transparent.png" height="45px" alt="">
				</a>
				<h2 class="my-2 my-sm-0"> TeraStore </h2>
			</nav>
		</div>

		<div class="container">
			<div class="row">
				<% for (let app of apps){ %>
				<div class="col-md-6 app-container">
					<div class="card">
						<div class="card-header"> <%= app.metadata.name %> </div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<%= app.metadata.introduction %>
								</li>
								<li class="list-group-item">
									<%- app.metadata.description %>
								</li>
								<li class="list-group-item">
									<span class="col-md">Keywords</span> <span class="col-md"><%= app.metadata.keywords.length == 0? 'No keywords specified' : app.metadata.keywords.join(', ') %></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>

		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>